#brand {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    margin: 4vh 2rem;
}

.brand-right-content {
    display: grid;
    place-items: center;
}

.brand-right-content-context {
    font-family: var(--font-logo);
    font-size: 2rem;
    color: var(--color-header-title);
    text-shadow: 0 0 40px var(--color-secondary);
    background: rgb(0,250,255);
    background: -moz-linear-gradient(223deg, rgb(76, 195, 197) 0%, rgba(31,115,227,1) 58%);
    background: -webkit-linear-gradient(223deg, rgba(0,250,255,1) 0%, rgba(31,115,227,1) 58%);
    background: linear-gradient(223deg, rgb(1, 251, 255) 10%, rgb(0, 110, 255) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00faff",endColorstr="#1f73e3",GradientType=1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

#tv {
    width: 60%;
    opacity: .75;
    border-radius: 50%;
    margin: 2vh 2rem;
    box-shadow: 0 0 20px var(--color-header-title);
}

.brand-right-content-subcontext {
    margin: 2vh 0;
    font-family: var(--font-header);
    font-size: 1rem;
    line-height: 2rem;
    word-spacing: .1rem;
    color: var(--color-header-title);
    padding: 1.1rem;
    background: var(--header-gradient-background);
    border-radius: 10px;
    max-width: 500px;
}

@media screen and (max-width:1500px) {
    #brand {
        grid-template-columns: 1fr;
        place-items: center;
        row-gap: 4rem;
        margin-left: 5rem;
    }

    .brand-left-content {
        max-width: 900px;
    }

    #tv {
        width: 50%;
        margin-left: 10rem;
    }
}

@media screen and (max-width:900px) {
    #tv {
        margin-left: 10rem;
    }
}

@media screen and (max-width:630px) {
    .brand-right-content {
        margin-right:6rem;
    }
}

@media  screen and (max-width:570px) {
    #tv {
        margin-left:8rem;
    }
    .brand-right-content {
        max-width: 450px;
        text-align: center;
    }
}

@media screen and (max-width:520px) {
    .brand-right-content {
        margin-right: 12rem;
    }
}
@media screen and (max-width:470px) {
    #tv {
        width:40%;
    }
    .brand-right-content {
        max-width: 300px;
    }
}

@media screen and (max-width:400px) {
    #tv {
        width:35%;
    }
    .brand-right-content {
        margin-right: 19rem;
    }
}
@media screen and (max-width:340px) {
    .brand-right-content {
        margin-right: 21rem;
    }
}