#contacts {
    display: grid;
    grid-template-columns: 200px 1fr 50px;
}

.left-contacts-content {
    display: grid;
    place-items: start;
    margin: 2rem;
}

.left-contacts-content-you {
    display: grid;
    place-items: center;
    row-gap: 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: var(--navbar-transition);
}

.left-contacts-content-you:hover {
    scale: 1.1;
}

#contacts-user {
    width: 5rem;
    border-radius: 50%;
}

#contacts-user-h1 {
    font-size: 2rem;
    font-family: var(--font-logo);
    color: var(--signin-context);
}

.center-contacts-content {
    display: grid;
    place-items: start;
    background: var(--header-gradient-background);
    border-radius: 10px;
    row-gap: .2rem;
    margin: 2rem;
}

.center-contacts-users:nth-child(3) {
    margin-left: 1.2vw;
}

.center-contacts-users {
    width: 90%;
    margin-left: 2rem;
    padding: 2rem;
    border-bottom: 1px solid var(--color-secondary);
    text-decoration: none;
}

.user-contact {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 2rem;
    cursor: pointer;
    transition: var(--navbar-transition);
}

.user-contact:hover {
    scale: 1.1;
}

#frier,
#john,
#lagertha,
#robert {
    width: 5rem;
    height: 5rem;
    justify-self: center;
    border-radius: 50%;
}

.user-contact-username {
    font-family: var(--font-logo);
    font-size: 1.3rem;
    color: var(--color-primary);
}

.user-subtext {
    font-size: 1.1rem;
    font-family: sans-serif;
    color: var(--color-primary);
    margin: 0 2rem;
}

.right-contacts-content {
    display: grid;
    place-items: end;
    position: fixed;
    bottom: 4rem;
    right: 5rem;
}

#add-contact {
    color: var(--color-primary);
    padding: .5rem;
    background: var(--color-secondary);
    border-radius: 50%;
    transition: var(--navbar-transition);
    cursor: pointer;
}

#add-contact:hover {
    scale: 1.1;
    background: var(--header-gradient-background);
}

@media screen and (max-width:1050px) {
    #contacts {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

@media screen and (max-width:850px) {
    #contacts-user {
        width: 9rem;
    }

    .user-contact-username {
        font-size: 1.8rem;
    }

    .user-subtext {
        font-size: 1.6rem;
    }

    #add-contact {
        width: 65px;
        height: 65px;
    }

    #frier,
    #john,
    #profile_nina,
    #lagertha,
    #robert {
        width: 7rem;
        height: 7rem;
    }
}

@media screen and (max-width:450px) {
    #contacts-user {
        width: 15rem;
    }

    #contacts-user-h1 {
        font-size: 4.5rem;
    }

    .user-contact-username {
        font-size: 3rem;
    }

    .user-subtext {
        font-size: 2rem;
    }

    #add-contact {
        width: 75px;
        height: 75px;
    }

    #frier,
    #john,
    #profile_nina,
    #lagertha,
    #robert {
        width: 9rem;
        height: 9rem;
    }
}