#ContactUs {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 6vh 2rem;
    row-gap: 3rem;
}

.above-contactus {
    display: grid;
    place-items: center;
}

#contactUsVideo {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-header-title);
}

.below-contactus-context {
    font-size: 1.6rem;
    font-family: var(--font-logo);
    color: var(--color-header-title);
    text-shadow: 0 0 30px var(--color-secondary);
    padding: 1.2rem;
    letter-spacing: .1rem;
    line-height: 2.3rem;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    background: rgb(0,250,255);
    background: -moz-linear-gradient(223deg, rgb(76, 195, 197) 0%, rgba(31,115,227,1) 58%);
    background: -webkit-linear-gradient(223deg, rgba(0,250,255,1) 0%, rgba(31,115,227,1) 58%);
    background: linear-gradient(223deg, rgb(1, 251, 255) 10%, rgb(0, 110, 255) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00faff",endColorstr="#1f73e3",GradientType=1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

@media screen and (max-width:900px) {
    #ContactUs {
        margin-left: 12rem;
    }

    #contactUsVideo {
        width: 70%;
    }
    .below-contactus-context {
        margin-right:4rem;
    }
}

@media screen and (max-width:600px) {
    .below-contactus-context {
        font-size: 2rem;
        color: var(--color-primary);
    }

    #contactUsVideo {
        width: 50%;
        margin-right: 7rem;
    }
    .below-contactus-context {
        margin-right:7rem;
    }
}

@media screen and (max-width:550px) {
    #contactUsVideo, .below-contactus-context {
        margin-right:9rem;
    }
}
@media screen and (max-width:500px) {
    #contactUsVideo, .below-contactus-context {
        margin-right:13rem;
    }
}
@media screen and (max-width:450px) {
    .below-contactus-context {
        max-width: 300px;
    }
}
@media screen and (max-width:410px) {
    #contactUsVideo {
        margin-right:17rem;
    }
}
@media screen and (max-width:378px) {
    #contactUsVideo {
        width:45%;
        margin-right:20rem;
    }
    .below-contactus-context {
        margin-right: 20rem;
    }
}
@media screen and (max-width:350px) {
    #contactUsVideo {
        margin-right: 22rem;
    }
}