#footer {
    display: grid;
    background: var(--color-secondary);
    min-height: 30rem;
    align-items: end;
    padding: 3rem 0;
}

.curve-border {
    display: grid;
    place-items: center;
    width: 95rem;
    position: relative;
    bottom: -9rem
}

#curvedBorder {
    width: 100%;
}

.footer-logo {
    display: grid;
    margin-left: 4vw;
    z-index: 100;
}

.footer-links {
    display: grid;
    place-items: center;
}

.footer-links-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4vh;
}

.footer-links-list a {
    text-decoration: none;
    font-family: var(--font-logo);
    color: var(--color-primary);
    text-shadow: 0 0 200px var(--color-secondary);
}

.footer-links-list a:hover {
    color: var(--color-header-title);
}

.footer-svgs {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    margin-top: -4rem;
}

.footer-svgs a {
    color: var(--color-primary);
    text-decoration: none;
    transition: var(--navbar-transition);
}

.footer-svgs a:hover {
    color: var(--color-header-title);
}

@media screen and (max-width:1500px) {
    #footer {
        width: 100vw;
    }

    .curve-border {
        width: 100vw;
        place-items: start;
    }

    .footer-svgs {
        margin-right: 4vw;
    }
}

@media screen and (max-width:1240px) {
    #footer {
        width:115vw;
    }
    .curve-border {
        width:115vw;
    }
    .logo {
        display: none;
    }

    .footer-links-list {
        grid-template-columns: repeat(6, 1fr);
        margin: 10rem 1rem 4rem 6rem;
    }
    .footer-svgs {
        margin-right: 15rem;;
    }
}

@media screen and (max-width:1070px) {
    #footer, .curve-border {
        width:120vw;
    }
}
@media screen and (max-width:980px) {
    #footer, .curve-border {
        width:125vw;
    }
}
@media screen and (max-width:760px) {
    #footer, .curve-border {
        width:130vw;
    }
}
@media screen and (max-width:700px) {
    .footer-links-list {
        margin-left: 12rem;
    }

    .footer-links-list a {
        font-size: 1.2rem;
    }

    .footer-svgs {
        justify-self: center;
        gap: 2rem;
        margin-left: 10rem;
    }

    .footer-svgs a svg {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width:650px) {
    #footer, .curve-border {
        width:135vw;
    }
    .footer-links-list {
        margin: 10rem 15rem;
    }
}

@media screen and (max-width:620px) {
    .footer-links-list {
        grid-template-columns: repeat(4, 1fr);
        margin: 12rem 17rem;
    }
}

@media screen and (max-width:520px) {
    #footer, .curve-border {
        width:140vw;
    }
    .footer-links-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:480px) {
    #footer, .curve-border {
        width:145vw;
    }
}
@media screen and (max-width:420px) {
    #footer, .curve-border {
        width:150vw;
    }
}
@media screen and (max-width:420px) {
    #footer, .curve-border {
        width:155vw;
    }
    .footer-links-list {
        margin:12rem 14rem;
    }
}
@media screen and (max-width:380px) {
    #footer, .curve-border {
        width:160vw;
    }
}