#header {
    display: flex;
    justify-content: space-between;
}

#header .right-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#header .right-header-title {
    color: var(--color-header-title);
    font-family: var(--font-header);
    font-size: 60px;
    margin: 6vh 4rem .5rem 4rem;
    text-shadow: 0 0 40px var(--color-secondary);
}

.right-header-context {
    color: #fff;
    font-family: var(--font-logo);
    margin-left: 5.5rem;
    font-size: 19px;
    text-shadow: 0 0 100px var(--color-secondary);
}

#header .left-header {
    display: grid;
    row-gap: 2.5rem;
    margin: 3vh 4rem;
}

.left-header-first-context,
.left-header-second-context {
    color: var(--color-primary);
    font-size: 17px;
    line-height: 27px;
    font-family: var(--font-header);
    max-width: 400px;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-secondary);
    cursor: pointer;
}

.left-header-first-context:hover,
.left-header-second-context:hover {
    background: linear-gradient(220deg, rgba(16, 55, 175, .4) 0%, rgba(61, 19, 209, .3) 40%);
}