#signup {
    background: var(--color-secondary);
    padding: .9rem 1.5rem;
    font-size: 19px;
    border-radius: 10px;
    color: #fff;
    font-family: var(--font-logo);
    cursor: pointer;
    border: none;
    transition: var(--navbar-transition);
}

#signup:hover {
    background: rgb(26, 6, 137);
}