#intro {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-around;
}

.left-intro .left-content {
    display: grid;
    place-items: center;
}

#xoxo-intro {
    width: 20rem;
    height: 20rem;
    margin: 4rem 0 0 5rem;
}

#intro-subtitle {
    color: var(--color-header-title);
    max-width: 600px;
    max-height: 700px;
    margin: 2rem 4rem;
    font-family: var(--font-logo);
    line-height: 2rem;
    word-spacing: .2rem;
    text-shadow: 0 0 15px var(--color-secondary);
    background: var(--header-gradient-background);
    padding: 2rem 3rem;
    border-radius: 10px;
}

#chatbox-intro {
    width: 65%;
    margin: -2rem 2rem 1rem 0;
    opacity: .8;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--color-secondary);
    transition: var(--navbar-transition);
}

#chatbox-intro:hover {
    scale: 1.1;
}

.right-intro .right-content {
    display: grid;
    place-items: center;
}

.right-content-intro-context {
    color: var(--color-header-title);
    font-family: var(--font-header);
    font-size: 2.2rem;
    text-shadow: 0 0 60px var(--color-secondary);
    z-index: 1;
    background: rgb(0,250,255);
    background: -moz-linear-gradient(223deg, rgb(76, 195, 197) 0%, rgba(31,115,227,1) 58%);
    background: -webkit-linear-gradient(223deg, rgba(0,250,255,1) 0%, rgba(31,115,227,1) 58%);
    background: linear-gradient(223deg, rgb(1, 251, 255) 10%, rgb(0, 110, 255) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00faff",endColorstr="#1f73e3",GradientType=1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

@media screen and (max-width:1500px) {
    #intro-subtitle {
        margin: 2rem 0 2rem 6rem;
    }

    #chatbox-intro {
        width: 70%;
        margin: 2rem 13rem 1rem 2rem;
    }
    .right-content-intro-context {
        margin-right: 12rem;
    }
}

@media screen and (max-width:1350px) {
    #intro {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    #xoxo-intro {
        height: 55%;
    }

    #chatbox-intro {
        width: 50%;
        margin: 2rem -3rem 1rem 2rem;
    }

    #intro-subtitle {
        max-width: 70%;
    }

    .right-content-intro-context {
        margin: 2rem 2rem 1rem 10rem;
    }
}

@media screen and (max-width:1250px) {
    .right-content-intro-context {
        margin-right: 5rem;
    }
}

@media screen and (max-width:900px) {
    #chatbox-intro {
        margin-left: 7rem;
    }

    #intro-subtitle {
        font-size: 1rem;
        line-height: 2.5rem;
        margin-left: 10rem;
    }

    .right-content-intro-context {
        font-size: 2rem;
        margin-left:15rem;
        text-align: center;
    }
}

@media screen and (max-width:440px) {
    #chatbox-intro {
        width:45%;
        margin-right: 6rem;
    }
    .right-content-intro-context {
        margin-left:8rem;
        max-width:40%;
    }
    #intro-subtitle {
        max-width: 350px;
        margin-left:4rem;
    }
}

@media screen and (max-width:370px) {
    #intro-subtitle {
        margin-left:0;
    }
}