.hamburger-menu {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 3vh 0;
    padding: 2vh 5vw;
    width: 90rem;
    border-radius: 10px;
    text-shadow: 3px 3px 30px var(--color-secondary);
}

.colored-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2vh 5vw;
    width: 90rem;
    margin: 0;
    border-radius: 10px;
    background: linear-gradient(220deg, rgba(16, 55, 175, .6) 40%, rgba(61, 19, 209, .8) 60%);
    position: sticky;
    top: .4rem;
    left: 3rem;
    right: 3rem;
    animation: colored-nav-anim 900ms linear;
    z-index: 1000;
}

@keyframes colored-nav-anim {
    10% {
        top: 3rem;
    }

    30% {
        top: 2rem;
    }

    60% {
        top: 1rem;
    }

    80% {
        top: .5rem;
    }

    100% {
        top: .4rem;
    }
}

.right-navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.right-navbar-list {
    display: flex;
    gap: 2em;
    list-style: none;
}

#panel,
#setting,
#Contacts {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-logo);
}

#panel:hover,
#setting:hover,
#Contacts:hover {
    color: #b9b7b7;
}

#signin {
    font-size: 18px;
    color: #d3d3d3;
    font-weight: normal;
    font-family: var(--font-logo);
    cursor: pointer;
    text-decoration: none;
}

#signin:hover {
    color: #b9b7b7;
}

.left-navbar {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.mobile-left-navbar {
    display: none;
    position: absolute;
    left: 5rem;
    top: 2.5vh;
    gap: 2em;
}

.mobile-left-navbar .profile {
    display: flex;
    align-items: center;
}

.mobile-left-navbar #xoxo {
    font-size: 35px;
}

@media screen and (max-width:1500px) {
    .navbar {
        width: 55rem;
        margin-left: 15rem;
    }

    .colored-nav {
        width: 100%;
        margin-left: 3rem;
    }
}

@media screen and (max-width:1250px) {
    .colored-nav {
        display: none;
    }
}

@media screen and (max-width:900px) {
    .hamburger-menu {
        display: grid;
        position: absolute;
        right: 1rem;
        top: 2rem;
        right: 2rem;
    }

    .navbar {
        position: absolute;
        right: 2.5rem;
        top: 6rem;
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-items: center;
        background: var(--navbar-background);
        width: 15rem;
        row-gap: 2rem;

    }

    #panel,
    #setting,
    #Contacts {
        font-size: 2rem;
    }

    #hamburger {
        width: 3.5rem;
    }

    #signin,
    #signup {
        font-size: 2rem;
    }

    .right-navbar {
        display: grid;
        place-items: center;
    }

    .right-navbar-list {
        display: grid;
        place-items: center;
        row-gap: 1.5em;
    }

    .left-navbar {
        display: none;
    }

    .mobile-left-navbar {
        display: flex;
    }

    .mobile-navbar-appear .navbar {
        display: grid;

    }
}

@media screen and (max-width:800px) {
    .hamburger-menu {
        right: 3rem;
    }

    .navbar {
        right: 1rem;
    }
}

@media screen and (max-width:700px) {
    .hamburger-menu {
        right: -3rem;
    }

    .navbar {
        width: -1rem;
    }
}

@media screen and (max-width:600px) {
    .hamburger-menu {
        right: -15rem;
    }

    .navbar {
        right: -12rem;
    }
}

@media screen and (max-width:500px) {
    .hamburger-menu {
        right: -17rem;
    }

    .navbar {
        right: -14rem;
    }
}

@media screen and (max-width:410px) {
    .hamburger-menu {
        right: -23rem;
    }

    .navbar {
        right: -21rem;
    }
}

@media screen and (max-width:380px) {
    .hamburger-menu {
        right: -25rem;
    }

    .navbar {
        right: -23rem;
    }
}