@font-face {
    font-family: Acme;
    src: url('./fonts/Acme-Regular.ttf');
}

/* @font-face {
    font-family: fredoka;
    src: url('./fonts/FredokaOne-Regular.ttf');
}

@font-face {
    font-family: caveat;
    src: url('./fonts/Caveat-VariableFont_wght.ttf');
} */

@font-face {
    font-family: russo;
    src: url('./fonts/RussoOne-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 93rem;
    scroll-behavior: smooth;
    display: grid;
}

:root {
    --background-main: url('./assets/secondxoxo.png');
    --background-main-mobile: url('./assets/secondxoxo600.png');
    --font-logo: Acme, sans-serif;
    /* --font-header1: fredoka, sans-serif;
    --font-header2: caveat, sans-serif; */
    --font-header: russo, sans-serif;
    --navbar-background: rgb(40, 40, 40);
    --header-gradient-background: linear-gradient(220deg, rgba(16, 55, 175, .4) 0%, rgba(61, 19, 209, .3) 40%);
    --navbar-boxshadow: 5px 5px 50px rgb(23, 15, 59);
    --color-primary: #d3d3d3;
    --color-secondary: rgb(31, 8, 163);
    --color-header-title: #7bbade;
    --navbar-transition: .3s ease-in-out;
}

body {
    background: var(--background-main) repeat-y;
}

#xoxo {
    color: #fff;
    text-decoration: none;
    font-family: var(--font-logo);
}

#xoxo:hover {
    text-shadow: 2px 0px 20px rgb(175, 122, 224);
}

.sign {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#user {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    cursor: pointer;
    transition: var(--navbar-transition);
    text-decoration: none;
}

.profile:hover {
    scale: 1.1;
}

#username {
    color: var(--color-primary);
    font-family: var(--font-logo);
}

::-webkit-scrollbar {
    background: var(--color-secondary);
    width: .3rem;
}

::-webkit-scrollbar-thumb {
    background: var(--color-header-title);
}

@media screen and (max-width:1500px) {
    html {
        width: 90%;
    }
}

@media screen and (max-width:1100px) {
    body {
        background: var(--background-main-mobile);
    }
}

@media screen and (max-width:900px) {
    .profile {
        display: grid;
        place-items: center;
    }

    .sign {
        display: grid;
        place-items: center;
    }
}

@media screen and (max-width:500px) {
    html {
        display: grid;
        place-items: center;
    }
}